p {text-indent: 15px;}
a.thumbnail {
    width: 308px;
    overflow: hidden;
}
a.thumbnail span.caption:hover {
    text-decoration: none;
}
a.thumbnail span.caption {
    display: block;
    text-align: center;
    color: #428bca;
}
.annotation {
    clear: both;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-style: italic;
    color: #ccc;
    font-size: 18px;
}
.annotation a{
    color: #ccc;
    text-decoration: underline;
}
.annotation:hover a{
    color: #428bca;
}
.annotation:hover {
    color: black;
}
.entry {
    overflow: hidden;
    clear: both;
    padding: 20px;
}
.entry div.date {
    width: 200px;
    float: right;
}
.entry div.tags {
    float: left;
}
.read_forward{
    margin: 15px;
    padding: 8px;
    font-size:13pt;
    display: block;
    text-align: center;
    width: 200px;
    background: #f5f5f5;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    float: right;
}
.read_forward:hover{
    text-decoration: none;
    background: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.thumbnail img {
    float: left;
    display: block;
    max-width: 300px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}
.tag {
    float: left;
    display: block;
    padding: 15px;
    margin: 10px;
    background: #f5f5f5;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.tag:hover{
    text-decoration: none;
    background: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
#wrap {
    width: 980px;
    margin: 0 auto;
    font-size: 11pt;
}
#entry_info {
    width: 100%;
    clear: both;
    color: #ccc;
    font-weight: bold;
}
#entry_info:hover{
    color: black;
    font-weight: normal;
}
#entry_info:hover a{
    color: black;
}
#entry_info a {
    color: #ccc;
}
#entry_info a:hover{
    color: blue;
}
#header a{
    color: black;
}
#old_comments{
    margin: 40px;
}
#old_comments .comment{
    clear: both;
    padding: 15px;
    margin: 15px;
    margin-left: 10px;
    
}
#old_comments .comment{
    clear: both;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #f5f5f5;
}
#old_comments .sub{
    margin-left: 100px;
}
#old_comments .comment .comment-header{
    clear: both;
    margin-bottom: 10px;
}
#old_comments .comment .date{
    float: right;
    width: 200px;
}

