{% include 'head.html' %}
{% autoescape off %}
<legend>{{ entry.name }}</legend>
<div id="full">
{{ entry.content }}
</div>
<hr>
<div id="entry_info">
Тэги:<br>
{% for tag in tags %}
<a href="{{ tag.get_absolute_url }}"><span>{{ tag.name }}</span></a>
{% endfor %}
<br>
{{ entry.date }}
</div>
{% endautoescape %}
{% include 'footer.html' %}
