{% if old %}
    {% include 'old_head.html' %}
{% else %}
    {% include 'head.html' %}
{% endif %}
{% autoescape off %}
<legend>Записи с тэгом {{ tag.name }}:</legend>
{% for e in entries %}
<div class="entry">
<a href="{{ e.get_absolute_url }}"><h3>{{ e.name }}</h3></a>
{{ e.short_content }}
<div class="row">
<div class="date">{{ e.date }}</div>
<div class="tags">Тэги:
{% for t in e.tags.all %}
<a href="{{ t.get_absolute_url }}"> {{ t.name }}</a>
{% endfor %}
</div>
</div>
<a href="{{ e.get_absolute_url }}" class="read_forward">Читать далее...</a>
</div>
{% endfor %}
{% endautoescape %}
<ul class="pagination">
    {% if entries.has_previous %}
    <li><a href="?page={{ entries.previous_page_number }}">&laquo;</a></li>
    {% endif %}
    {% for n in range %}
        {% if n == entries.number %}
        <li class="active"><a href="#">{{ n }} <span class="sr-only">(current)</span></a></li>
        {% else %}
        <li><a href="?page={{ n }}">{{ n }} </a></li>
        {% endif %}
    {% endfor %}
    {% if entries.has_next %}
            <li><a href="?page={{ entries.next_page_number}}">&raquo;</a></li>
    {% endif %}
</ul>
{% include 'footer.html' %}
